html,
body {
    height: 100%;
}

.sortable th {
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
}

.sortable th.no-sort {
    pointer-events: none;
}

.sortable th.dir-d::after {
    color: inherit;
    content: ' \025BE';
}

.sortable th.dir-u::after {
    color: inherit;
    content: ' \025B4';
}

.sortable td {
    text-align: left;
}

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-login .form-floating:focus-within {
    z-index: 2;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.checkbox-col {
    width: 6rem;
}

.size-col {
    width: 6rem;
}

